/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes main-body {
  0% {
    fill: white;
  }
  33% {
    fill: rgba(255, 0, 0, 1);
  }
  100% {
    fill: rgba(255, 0, 0, 1);
  }
}

@keyframes heart-bounce {
  0% {
    transform: scale(1);
  }
  65% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes core {
  0% {
    fill: white;
  }
  16% {
    fill: rgba(255, 0, 0, 1);
  }
  100% {
    fill: rgba(255, 0, 0, 1);
  }
}

@keyframes contour {
  0% {
    fill: black;
  }
  33% {
    fill: rgba(255, 0, 0, 1);
  }
  100% {
    fill: rgba(255, 0, 0, 1);
  }
}

@keyframes sparks {
  0% {
    fill: transparent;
    opacity: 0;
    transform: scale(0.5);
  }
  80% {
    fill: rgba(255, 0, 0, 1);
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    fill: rgba(255, 0, 0, 1);
    opacity: 0;
    transform: scale(1.3);
  }
}

@keyframes main-body-hover {
  0% {
    fill: transparent;
  }

  100% {
    fill: black;
  }
}

@keyframes core-hover {
  0% {
    fill: transparent;
  }
  50% {
    fill: black;
  }
  100% {
    fill: black;
  }
}

@keyframes main-body-active {
  0% {
    fill: currentColor;
  }

  100% {
    fill: rgba(255, 0, 0, 1);
  }
}

@keyframes core-active {
  0% {
    fill: currentColor;
  }
  50% {
    fill: rgba(255, 0, 0, 1);
  }
  100% {
    fill: rgba(255, 0, 0, 1);
  }
}
