/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@supports ((-webkit-text-stroke: 1px black) or (text-stroke: 1px black)) {
  .text {
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
  }
}

:focus {
  outline: none;
}

.page {
  font-variation-settings: "wght" 400;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--inter-ff);
  width: 100%;
  height: 100vh;
  image-rendering: pixelated;
  background-image: var(--complex-grid-bg);
  background-attachment: fixed;
  background-size: cover;
  background-color: #e7e7e7;
  background-blend-mode: overlay;
}

.header {
  min-block-size: 327px;
  block-size: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 100px;
  background-color: var(--white-bg-color);
  border: 2px solid black;
}

.header-title {
  font-family: var(--pressStart2P-ff);
  font-size: clamp(3.063rem, 2.71rem + 1.502vi, 4.063rem);
  line-height: 100%;
  justify-self: center;
  font-weight: 400;
  padding-block-end: 19px;
}

.header-title-description {
  font-family: var(--pressStart2P-ff);
  justify-self: center;
  font-size: clamp(0.875rem, 0.677rem + 0.845vi, 1.438rem);
  line-height: 100%;
  font-weight: 400;
}

.main {
  display: grid;
}

.section {
  display: grid;

  background-color: var(--white-bg-color);
  margin-block-end: 50px;
  border: 2px solid;
}

.image-content {
  overflow: hidden;
  position: relative;
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.html-text {
  position: absolute;
  top: 27.5px;
  right: 25px;
  font-family: var(--pressStart2P-ff);
  font-size: 14px;
  text-shadow:
    1px 1px 0px rgba(255, 255, 255, 1),
    -1px -1px 0px rgba(255, 255, 255, 1),
    1px -1px 0px rgba(255, 255, 255, 1),
    -1px 1px 0px rgba(255, 255, 255, 1);
  opacity: 0.5;
  z-index: 1;
}

.section-title {
  margin-inline: 10px;
  margin-block: 4px;
  font-size: 18px;
  font-variation-settings: "wght" 785;
}

.trailer-image {
  aspect-ratio: 1 / 1;
  inline-size: 100%;
  position: relative;
  display: block;
}

.section:nth-of-type(2) .trailer-image {
  filter: grayscale(0.5) saturate(0.5);
}

.section:nth-of-type(3) .trailer-image {
  filter: saturate(400%);
}

.section:nth-of-type(4) .trailer-image {
  filter: hue-rotate(25deg);
}

.section:nth-of-type(5) .trailer-image {
  filter: invert(0.8);
}

.section:nth-of-type(6) .trailer-image {
  filter: sepia(85%);
}

.section:nth-of-type(7) .trailer-image {
  filter: blur(5px);
  overflow: hidden;
}

.section:nth-of-type(8) .trailer-image {
  filter: hue-rotate(90deg) invert(0.1) sepia(0.3) saturate(300%) contrast(40%)
    blur(1.5px);
}

.description-text {
  margin-block-start: 26px;
  margin-inline: 25px;
  font-size: 18px;
  line-height: 21px;
}

.like__content-position {
  display: flex;
  align-items: center;

  justify-content: flex-end;
}

.card__icon-button {
  background: none;
  border: none;
  padding: 0;
}

.like-icon {
  display: block;
  cursor: pointer;
  overflow: visible;
  transform-origin: center;
}

.like-icon:hover .main-body {
  animation: main-body-hover 0.5s ease-in-out forwards;
  transform-origin: center;
}

.like-icon:hover .core {
  animation: core-hover 0.5s ease-in-out forwards;
  transform-origin: center;
}

.like-icon:active .main-body {
  animation: main-body-active 0.5s ease-in-out forwards;
  transform-origin: center;
}

.like-icon:active .core {
  animation: core-active 0.5s ease-in-out forwards;
  transform-origin: center;
}

.main-body,
.core,
.sparks {
  fill: transparent;
  transition: fill 0.5s ease-in-out;
}

.contour {
  transition: fill 0.5s ease-in-out;
  fill: black;
}

.like-icon.is-liked .main-body {
  animation: main-body 0.5s ease-in-out forwards;
  transform-origin: center;
}

.like-icon.is-liked .core {
  animation: core 0.5s ease-in-out forwards;
  transform-origin: center;
  fill: rgba(255, 0, 0, 1);
}

.like-icon.is-liked .contour {
  animation: contour 0.5s ease-in-out forwards;
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-bounce 0.5s ease-in-out forwards;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.5s ease-in-out forwards;
  transform-origin: center;
}

.card__like-button.is-liked {
  background-color: #f0f0f0;
}

.like-icon:hover {
  cursor: pointer;
}

.card__icon-button:focus-visible {
  box-shadow: 0 0 0 2px black;
  transition: box-shadow 0.5s ease;
  outline: none;
}

.card__like-button {
  justify-self: flex-end;
  margin-inline-start: 6px;
  margin-inline-end: 25px;
  margin-block: 25px;
  padding: 10.5px 0;
  border: 2px solid;
  background: linear-gradient(to right, black 50%, white 50%) no-repeat;
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.card__like-button:hover {
  background-position: left;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 black;
  transition: 0.3s ease;
}

.open__dialog-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 19px;
  justify-self: center;
  margin-block-end: 100px;
  background: linear-gradient(to right, black 50%, white 50%) no-repeat;
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 2s ease;
  justify-content: center;
  cursor: pointer;
  outline: none;
  color: white;
  isolation: isolate;
  border: 2px solid black;
}

.open__dialog-button:hover {
  background-position: left;
}

.open-dialog__icon {
  height: 28px;
  width: 28px;
  margin-block-end: 8px;
  fill: currentColor;
  mix-blend-mode: difference;
  flex-shrink: 0;
}

.open__dialog-button:focus-visible {
  box-shadow: 2px 2px 0 0 black;
  transition: 0.3s ease;
}

/*.open__dialog-button:hover svg {
  mix-blend-mode: difference;
  z-index: 1;
  filter: invert(1);
  color: black;
}*/

.button__text {
  font-family: var(--pressStart2P-ff);
  font-size: 14px;
  line-height: 87%;
  cursor: pointer;
  padding: 0 35px;
  color: white;
  mix-blend-mode: difference;
  font-weight: 400;
}

.dialog {
  padding: 13px 38px;
  border: 2px solid black;
  background-color: white;
  min-width: 341px;
  width: 341px;
  min-height: 191px;
  height: 191px;
  z-index: 1;
}

.dialog[open] {
  display: grid;
  position: fixed;
  inset: 0;
  margin: auto;
}

.dialog__content {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
}

.dialog__button {
  grid-column: 1 / -1;

  padding: 10px;
  border: 2px solid black;
  background: linear-gradient(to right, black 50%, white 50%) no-repeat;
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.dialog__button:hover {
  background-position: left;
}

.dialog__button-text {
  font-family: var(--pressStart2P-ff);

  font-size: 14px;
  color: white;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  font-weight: 400;
}

.dialog__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 black;
}

.dialog__text {
  font-family: var(--pressStart2P-ff);
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
  padding-left: 20px;
}

.dialog__icon {
  width: 39px;
  height: 39px;
  display: block; /* Убирает лишние отступы */
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (width >= 1440px) {
  .header {
    height: 372px;
    min-height: 372px;
    margin-block: 97px;
  }

  .header-title {
    padding-block-end: 21px;
  }

  .header,
  .section {
    width: 700px;
    min-width: 700px;

    justify-self: center;
  }

  .html-text {
    top: 26px;
  }

  .dialog {
    min-width: 353px;
    width: 353px;
    padding: 14px 28px;
  }

  .dialog__button {
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding: 11px 15.5px;
  }

  .open__dialog-button {
    display: block;

    gap: 8px;
    padding-inline: 20px;
  }

  .open__dialog-button svg {
    margin: 0;
  }

  .open-dialog__icon {
    inline-size: 21px;
    block-size: 21px;
  }
}
